<html>
    <head>
        <title>Reposicao de Produtos</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <script>
            // navegador + relogio
            document.onreadystatechange = () => {
                if(document.readyState === 'interactive') {
                    document.getElementById('userAgent').value = window.navigator.userAgent
                    document.getElementById('userDate').value = new Date ()
                    
                }
            }
        </script>
        
    </head>    
    <body>

        <nav class="navbar navbar-light bg-light">
            <a class="navbar-brand" href="/">Reponha.me</a>
        </nav>

        <div class="container">
            <div class="alert alert-success" role="alert">
            Se quiser notificar outra falta,<a href="/" class="alert-link"> clique aqui</a>. Obrigado por ajudar!
        </div>
        </div>
    </body>
</html>